@import "../../vars.css";

.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 100dvh; */
  padding: 60px 0;
  background-color: var(--color-bg);
}

.myImgContainer {
  display: flex;
  justify-content: center;
  margin: 40px 0;

  .myImg {
    width: 512px;
    height: auto;
  }
}

.myName {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 24px;
  font-size: 3rem;
}
.myRole {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 16px;
}
.socialIcons {
  display: flex; /* Flexbox to ensure icons are in a row */
  gap: 15px; /* Add some space between the icons */
  justify-content: center;
  margin-bottom: 16px;
}
.socialIcons a img {
  width: 30px;
  height: 30px;
}
.myDescription {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 56px;
}
.resumeBtn {
  background-color: var(--color-secondary);
  color: var(--color-text);
  border: none;
  border-radius: 20px;
  width: 152px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}
.resumeBtn:hover {
  transform: scale(1.05);
}
.resumeBtn:active {
  transform: translateY(2px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

@media (width >= 1000px) {
  .heroContainer {
    flex-direction: row-reverse;
    align-items: center;
    padding: 100px 0;
  }
  .myInfoContainer {
    width: 55%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .myImgContainer {
    width: 45%;
    padding: 0 50px;
  }
}

@media screen and (max-width: 640px) {
  .heroContainer {
    align-items: start; /* Align items to start horizontally */
    justify-content: flex-start; /* Align items to the top vertically */
    padding-top: 20px;
  }

  .myImgContainer {
    .myImg {
      width: 80%;
      height: auto;
    }
  }
}

@media screen and (max-width: 414px) {
  .myName {
    font-size: 2.5rem;
  }
}
