@import "../../vars.css";

/* Hero.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center items by default */
  min-height: 100vh;
  background-color: var(--color-bg);
}

.myImgContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.myImg {
  width: 512px;
  height: auto;
}

.socialIcons {
  display: flex; /* Flexbox to ensure icons are in a row */
  gap: 15px; /* Add some space between the icons */
  justify-content: center;
}

.socialIcons a img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 640px) {
  .container {
    align-items: start; /* Align items to start horizontally */
    justify-content: flex-start; /* Align items to the top vertically */
    padding-top: 20px;
  }
  .myImg {
    width: 80%;
    height: auto;
  }
}
